<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/main.css')}}">
    <link rel="icon" href="https://www.manualweb.net/img/logos/java.png">
    <title>Sintaxis De Java - {{ titulo }}</title>
    <style>
        .banner__boton{
            color: var(--color-accent);
            transition: color .5s;
        }

        .banner__boton:hover{
            color: var(--color-primary);
        }

        @media screen and (width <= 415px){
            .header__logo{font-size: 24px;}
            .banner__boton{font-size: 14px;}
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <h1 class="header__logo italic fw-700">⚡ SyntaxLab</h1>
            <a href="{{ url_for('antes_de_comenzar') }}" class="banner__boton">Antes de comenzar →</a>
        </div>
    </header>
    {% block contenido %}
    
    {% endblock %}
    <footer class="footer">
        <p class="footer__text">© 2026 SyntaxLab - Aprende a programar con confianza</p>
    </footer>
</body>
</html>