<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Aprendizaje de Sintaxis - Programación</title>
</head>
<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">⚡ SyntaxLab</div>
        </div>
    </header>
    {% block contenido %}
    
    {% endblock %}
    <footer class="footer">
        <p class="footer__text">© 2025 SyntaxLab - Aprende a programar con confianza - <em>VALJI</em></p>
    </footer>
</body>
</html>