<link rel="stylesheet" href="{{ url_for('static', filename='CSS/prism.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/carrusel.css')}}">
<link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
{% extends "base.html" %}
{% from "macros/_topic.html" import render_topic %}
{% from "macros/_exercise_carousel.html" import exercise_carousel %}

{% block contenido %}
    <main>
        <section class="py-4 container">
            <div class="mx-auto mb-3 max-inline-size">
                <h1 class="title neon">Funciones</h1>
    
                <p class="fw-300 mb-1">Las funciones en programación son bloques de código reutilizables que realizan 
                <span class="fw-600 text-muted">tareas específicas</span>. Su función principal es modularizar el código, permitiendo 
                dividir programas complejos en partes más pequeñas y manejables.</p>
    
                <p class="fw-300">Es decir, una función es como una máquina que recibe entradas (parámetros), procesa 
                información y produce salidas (valores de retorno). Permiten evitar la repetición de código, facilitan el 
                mantenimiento y mejoran la legibilidad del programa. Las funciones pueden ser definidas por el programador 
                o provenir de bibliotecas estándar del lenguaje.</p>
            </div>
            <div>
                <h1 class="subtitle text-center mb-2">Fundamentos del tema</h1>
                <div class="topics">
                    {% for topic in topics %}
                        {{ render_topic(topic) }}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="container main__ejercicios">
            <h1 class="subtitle text-center">Práctica</h1>
            <p class="text-center mb-2">Practica el uso de funciones y cómo se ejecutan. Analiza el código y determina cuál será su resultado.</p>
            {{ exercise_carousel(exercises) }}
        </section>

    </main>

    <script src="{{ url_for('static', filename='JS/prism.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/carrusel.js') }}"></script>
{% endblock %}