<link rel="stylesheet" href="{{ url_for('static', filename='CSS/prism.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/carrusel.css')}}">
<link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
{% extends "base.html" %}
{% from "macros/_topic.html" import render_topic %}
{% from "macros/_exercise_carousel.html" import exercise_carousel %}

{% block contenido %}
    <main>
        <section class="py-4 container">
            <div class="mx-auto mb-3 max-inline-size">
                <h1 class="title neon">Matrices</h1>
    
                <p class="fw-300 mb-1">Las matrices en programación son estructuras de datos bidimensionales que permiten 
                almacenar <span class="fw-600 text-muted">datos en filas y columnas</span>, como una tabla. Su función principal es 
                organizar información compleja que requiere acceso mediante dos índices.</p>
    
                <p class="fw-300">Es decir, una matriz es un array de arrays, donde cada elemento se identifica por 
                su posición en fila y columna. Son ideales para representar datos tabulares, imágenes, juegos de tablero 
                y cualquier estructura que requiera organización bidimensional. El acceso a los elementos se realiza mediante 
                índices que comienzan desde cero para ambas dimensiones.</p>
            </div>
            <div>
                <h1 class="subtitle text-center mb-2">Fundamentos del tema</h1>
                <div class="topics">
                    {% for topic in topics %}
                        {{ render_topic(topic) }}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="container main__ejercicios">
            <h1 class="subtitle text-center">Práctica</h1>
            <p class="text-center mb-2">Pon a prueba tu comprensión de matrices y el manejo de datos en múltiples dimensiones. Observa el código y elige la respuesta correcta.</p>
            {{ exercise_carousel(exercises) }}
        </section>

    </main>

    <script src="{{ url_for('static', filename='JS/prism.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/carrusel.js') }}"></script>
{% endblock %}