<link rel="stylesheet" href="{{ url_for('static', filename='CSS/prism.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/carrusel.css')}}">
<link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
{% extends "base.html" %}
{% from "macros/_topic.html" import render_topic %}
{% from "macros/_exercise_carousel.html" import exercise_carousel %}

{% block contenido %}
    <main>
        <section class="py-4 container">
            <div class="mx-auto mb-3 max-inline-size">
                <h1 class="title neon">Strings</h1>
    
                <p class="fw-300 mb-1">Las cadenas de texto o strings en programación son secuencias de caracteres que 
                representan <span class="fw-600 text-muted">texto y datos alfanuméricos</span>. Su función principal es almacenar 
                y manipular información textual en los programas.</p>
    
                <p class="fw-300">En otras palabras, un string es una colección ordenada de caracteres, como letras, números y 
                símbolos, encerrados entre comillas. Permiten realizar operaciones como concatenación, búsqueda, reemplazo 
                y formateo de texto. Los strings son fundamentales para la interacción con usuarios, procesamiento de datos 
                y manipulación de información textual en cualquier aplicación.</p>
            </div>
            <div>
                <h1 class="subtitle text-center">Fundamentos del tema</h1>
                <div class="topics">
                    {% for topic in topics %}
                        {{ render_topic(topic) }}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="container main__ejercicios">
            <h1 class="subtitle text-center">Práctica</h1>
            <p class="text-center mb-2">Trabaja con cadenas de texto y analiza cómo se manipulan. Observa el código y selecciona la respuesta correcta.</p>
            {{ exercise_carousel(exercises) }}
        </section>

    </main>

    <script src="{{ url_for('static', filename='JS/prism.js')}}"></script>
    <script src="{{ url_for('static', filename='JS/carrusel.js') }}"></script>
{% endblock %}